@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  background-color: #556b2f;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: #c5ec5b;
  width: 960px;
  margin: auto;
  /**
    * Width: A propriedade width definiu o tamanho do container fixados em 960 pixels.
    * Margin: Com a propriedade margin configurada em auto o container ficou centralizado na tela, já que as margens laterais ficaram do mesmo tamanho.
    *
    */
}

header, footer {
  background-color: #7fbbaa;
}

a:hover {
  color: #d269e1;
}

a {
  text-decoration: none;
  /**
    * Text-decoration configurado com none remove a linha abaixo dos textos com links.
    */
}

#capaBlogId {
  width: 960px;
}

table {
  text-align: center;
  border: 1px solid #ddd;
  width: 400px;
  margin: auto;
}

table td, table th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table img {
  border-radius: 25px;
  width: 100%;
}

table tr:hover {
  background-color: #ddd;
}
