@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.formulario {
  width: 400px;  /* 300px me pareceu muito estreito para o formulário */
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f3f7f8;
  box-sizing: border-box;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.titulo2 {
  font-size: 18px;
  margin-top: 30px;
}

.titulo_numero {
  display: inline-block;
  background-color: #5fcd7d;
  color: #fff;
  text-align: center;
  width: 27px;
  border-radius: 100%;
}

form label {
  display: inline-block;
  margin-top: 15px;
}

.form-input-text {
  border: none;
  font-size: 16px;
  margin: 0px;
  padding: 15px;
  outline: 0;
  height: auto;
  box-shadow: 0px 1px 0px #f5f5f5;
  width: 100%;
  box-sizing: border-box;
}

form input, form select, form textarea {
  background-color: #e8edf0;
}

.form-input-button {
  width: 100%;
  background-color: #4ac970;
  color: #fff;
  font-size: 18px;
  margin: 30px auto auto;
  padding: 10px 20px;
  border-radius: 8px;
}
